<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Login page</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/resources/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css" th:href="@{/resources/bootstrap/css/bootstrap-responsive.min.css}" />
		<link rel="stylesheet" href="css/style.css" th:href="@{/resources/css/style.css}" />
	</head>
	
    <body>
         <div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Login Form:</h2>
        <p th:if="${loginError}" class="alert alert-error">Wrong username or password!	</p>
        <form th:action="@{/j_spring_security_check}" method="post">
        	<fieldset>
              <div class="clearfix">
            <label for="j_username">Username:</label>
            </div>
            <input type="text" id="j_username" name="j_username" autofocus="autofocus" placeholder="jim"/> <br />
             <div class="clearfix">
            <label for="j_password">Password:</label>
            </div>
            <input type="password" id="j_password" name="j_password" placeholder="demo"/> <br />
            <input type="submit" value="Log in" class="btn btn-primary" />
            </fieldset>
           
        </form>
        </div>
        </div>
        </div>
  	</div>
    </body>
</html>
